{% extends 'index.html' %}
{% block content %}
<br><br><br><br><br><br>

<body style="background-image:url('https://img.pikbest.com/wp/202346/soccer-field-green-football-background-with-a-3d-rendered-black-and-white-ball_9635395.jpg!w700wp');">
    <div class="container-fluid">
        <div class="text-center mx-auto" style="max-width: 700px;">
        <h1 class="mb-1 display-5 text-primary">ABOUT e-Turf</h1> 
        <p class="mb-4 text" style="font-style: italic; color: bisque;">Welcome to e-Turf, your ultimate resource for football ground information! We’re excited to introduce you to our innovative web app designed specifically for football enthusiasts, clubs, and organizations seeking detailed and accurate information about football grounds.</p>
        </div>
        <div id="tab-2" class="tab-pane fade show p-0 active">
            <div class="row g-4">
                <div class="col-lg-12">
                    <div class="row g-4">
                        <div class="col-md-6 col-lg-4 col-xl-3">
                            <div class="rounded position-relative fruite-item">
                                <div class="p-4 border border-secondary border-top rounded-bottom"  style=" height: 350px; background-color: rgb(15, 15, 5);">
                                    <h4 style="color: rgb(48, 248, 58);">Our Mission</h4>
                                         <p class="display-6.9" style="font-style: italic; color: bisque;;">At e-Turf, our mission is to enhance the experience of football management and play by providing comprehensive, up-to-date information about football grounds. Whether you’re a player, coach, or organizer, we aim to make finding and managing football grounds as straightforward and efficient as possible.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-3">
                            <div class="rounded position-relative fruite-item">
                                <div class="p-4 border border-secondary border-top rounded-bottom"  style=" height: 350px;background-color: rgb(15, 15, 5);">
                                    <h4 style="color: rgb(48, 248, 58);">What We Offer</h4>
                                    <p style="font-style: italic;color: bisque;">*Ground Information: Access detailed profiles of football grounds including location, facilities, capacity, and availability. Get all the information you need to plan your matches or events effectively.
                                    *Booking and Scheduling: Check availability, make reservations, and manage bookings through our easy-to-use platform.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-3">
                            <div class="rounded position-relative fruite-item">
                                <div class="p-4 border border-secondary border-top rounded-bottom" style="width: 500px; height: 350px;background-color: rgb(15, 15, 5);">
                                    <h4 style="color: rgb(48, 248, 58);">Why e-Turf?</h4>
                                    <p style="font-style: italic;color: bisque;">e-Turf is more than just a directory; it’s a comprehensive platform built with the football community in mind. We understand the unique needs of football players, coaches, and organizers, and we’re dedicated to providing a solution that makes managing football grounds easier and more efficient.
              Up-to-Date Information: We strive to keep all our data current and accurate, so you can rely on the information you find on e-Turf. 
              Community Focused: We’re committed to fostering a supportive community of football enthusiasts. Your feedback helps us continually improve and provide the best possible service. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="text-center mx-auto" style="max-width: 700px; font-style: italic;color: bisque;">Thank you for choosing e-Turf. Let’s make football ground aS a breeze!</div>
    
    </div>
</body>  
{% endblock %}

