{% extends 'index.html' %}
{% block content %}
<br><br><br><br><br><br>
<div class="container-fluid">
<div class=".col-lg-3">
    <div class="row g-4 justify-content-center">
        <h1 class="fw-bold mb-0" style="font-style: italic;"><center>Our Location</center></h1>
        {% for i in data %}
        <div class="col-md-6 col-lg-6 col-xl-4" >
            <div class="rounded position-relative fruite-item">
                <div class="fruite-img">
                    <img src="{{ i.locationimage.url }}" style="height: 250px;" class="img-fluid w-100 rounded-top" alt="">
                </div>
                <br>
                <div  >
                   <a href="{% url 'viewturf' locationname=i.locationname %}">{{ i.locationname }}</a>
                </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</div>
 {% endblock %}
