{% extends 'manager_index.html' %}
{% block content %}
<div class="main-panel container-fluid" >
 <div class=".col-lg-3">
    <div class="row g-4 justify-content-center">
        {% for i in data %}
        <div class="col-md-6 col-lg-6 col-xl-4">
            <div class="rounded position-relative fruite-item">
            
                <div class="fruite-img">
                    <img src="{{ i.turfimage.url }}" style="height: 250px;" class="img-fluid w-100 rounded-top" alt="">
                </div>
                <br>
                <div>
                    <h4>{{ i.turfname }}</h4>
                    <h4>{{ i.turflocation }}</h4>
                    <h4>{{ i.BookingPackage }}</h4>
                    <h4>{{ i.Facilities }}</h4>
                    <h4>{{ i.Time }}</h4>
                    <h4>{{ i.manager }}</h4>
                </div>
          
            </div>
        </div>
        {% endfor %}
    </div>
 </div>
</div>
{% endblock %}
